@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-BoldItalic.woff2') format('woff2'),
    url('/fonts/IBMPlexSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-TextItalic.woff2') format('woff2'),
    url('/fonts/IBMPlexSans-TextItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Bold.woff2') format('woff2'),
    url('/fonts/IBMPlexSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Text.woff2') format('woff2'),
    url('/fonts/IBMPlexSans-Text.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@keyframes pulse {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

@import 'slider.css';
@import 'tags.scss';

body {
  color: rgb(44, 48, 59);
  font-family: 'IBM Plex Sans';
}

.treeState {
  border: 1px solid #37de8a;
  color: #37de8a;
  border-radius: 6px;
  padding: 10px;
  font-size: 13px;
  letter-spacing: 0.25px;
  padding-bottom: 11px;
  margin-bottom: 20px;

  &.watering {
    border: 1px solid #37de8a;
    color: #37de8a;
    animation: pulse 0.75s infinite ease-in-out;
  }

  &.noInfo {
    border: 1px solid #ff8484;
    color: #ff8484;
  }
}

span.pulsing {
  animation: pulse 0.75s infinite ease-in-out;
}

.mapboxgl-ctrl-logo {
  display: none;
}

.mapbox-improve-map {
  display: none;
}
