@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-gdk-gray;
	}

	dialog::backdrop {
		background: #2c303b66;
	}

	@font-face {
		font-family: "IBM";
		font-style: normal;
		font-weight: 700;
		src: url("/fonts/IBMPlexSans-Bold.woff2");
	}

	@font-face {
		font-family: "IBM";
		font-style: italic;
		font-weight: 400;
		src: url("/fonts/IBMPlexSans-Italic.woff2");
	}

	@font-face {
		font-family: "IBM";
		font-style: normal;
		font-weight: 500;
		src: url("/fonts/IBMPlexSans-Medium.woff2");
	}

	@font-face {
		font-family: "IBM";
		font-style: normal;
		font-weight: 400;
		src: url("/fonts/IBMPlexSans-Regular.woff2");
	}

	@font-face {
		font-family: "IBM";
		font-style: normal;
		font-weight: 600;
		src: url("/fonts/IBMPlexSans-Medium.woff2");
	}
}

/* Mapbox controls */
.mapboxgl-ctrl-bottom-left {
	@apply bottom-16 lg:bottom-0 lg:left-20 !important;
}

.mapboxgl-ctrl-bottom-right {
	@apply hidden;
}

.mapboxgl-ctrl-group button:first-child {
	@apply h-14 w-14 shadow-gdk-hard;
}

.mapboxgl-ctrl-group button:last-child {
	@apply h-14 w-14 shadow-gdk-hard;
}

.mapboxgl-ctrl {
	@apply rounded-none bg-transparent !important;
}

.mapboxgl-ctrl-group:not(:empty) {
	@apply shadow-none !important;
}

.mapboxgl-ctrl-group button {
	@apply bg-white rounded-full mb-1 !important;
}

.mapboxgl-ctrl-group button + button {
	@apply border-t-0 !important;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
	@apply bg-[url('/images/icon-zoom-in.svg')] hover:bg-[url('/images/icon-zoom-in-hover.svg')] w-14 h-14 !important;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
	@apply bg-[url('/images/icon-zoom-out.svg')] hover:bg-[url('/images/icon-zoom-out-hover.svg')] !important;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon {
	@apply bg-[url('/images/icon-locate.svg')] hover:bg-[url('/images/icon-locate-hover.svg')] !important;
}

/* prettier-ignore */
.mapboxgl-ctrl button.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-waiting .mapboxgl-ctrl-icon {
	@apply animate-none !important;
}
