name: Node.js CI
permissions:
  contents: write
  packages: write
on:
  push:
    branches: [main, staging, feat/ui-rework]
  pull_request:
    branches: [main, staging, feat/ui-rework]

jobs:
  test:
    timeout-minutes: 60
    env:
      CI: true
      ESLINT_USE_FLAT_CONFIG: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js from .nvmrc
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
      - run: npm ci
      - name: lint
        run: npm run lint
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - run: npm run test  --if-present
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
  release:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
      - run: |
          npm ci
          npx semantic-release --ci
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
